
  <!-- Menu horizontal -->
  <nav class="navbar">

    <!-- Accueil -->
    <button (click)="retourAccueil()">Accueil</button>

    <!-- Actions principales -->
    <!-- Champ de sélection de fichier caché -->
    <button (click)="ouvrirExplorateur()">Ajouter un fichier</button>
    <button (click)="ajouterDossier()">Créer un dossier</button>

  </nav>

  <h2 class="h2">Mes Documents</h2>

  <div class="chemin actuel">
    <strong>Vous êtes ici :</strong> {{ getCheminActuel()}}
  </div>
  <!-- Contenu principal -->
  <table>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Modifié le</th>
      <th>Type</th>
      <th>Taille</th>
      <th>Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fichier of fichiersAffiches" (click)="ouvrirDossier(fichier)">
      <td>
        <span *ngIf="fichier.fileType === 'Dossier de fichier'"></span>
        <span *ngIf="fichier.fileType !== 'Dossier de fichier'"></span>
        {{ fichier.name }}
      </td>
      <td>{{ fichier.uploadDate }}</td>
      <td>{{ fichier.fileType }}</td>
      <td>{{ fichier.taille }}</td>

      <td>
        <button *ngIf="fichier.fileType.startsWith('Fichier')" (click)="supprimerFichier(fichier)">Supprimer</button>
        <button *ngIf="fichier.fileType === 'Dossier de fichier'" (click)="modifierDossier(fichier)">Renommer</button>
      </td>
    </tr>

    </tbody>

    <button (click)="retour()" [disabled]="chemin.length === 0">⬅ Retour</button>
  </table>








