<div class="cookie-policy">
  <div class="styled-wrapper">
    <button class="button" (click)="goBack()">
      <div class="button-box">
      <span class="button-elem">
        <svg
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          class="arrow-icon"
        >
          <path
            fill="black"
            d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
          ></path>
        </svg>
      </span>
        <span class="button-elem">
        <svg
          fill="black"
          viewBox="0 0  24 24"
          xmlns="http://www.w3.org/2000/svg"
          class="arrow-icon"
        >
          <path
            d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
          ></path>
        </svg>
      </span>
      </div>
    </button>
  </div>



  <h1>Politique relative aux cookies</h1>
  <p>Notre site web utilise des cookies pour améliorer votre expérience de navigation et vous fournir des services personnalisés. En utilisant notre site, vous consentez à l'utilisation de cookies conformément à la présente politique.</p>

  <h2>Que sont les cookies ?</h2>
  <p>Les cookies sont de petits fichiers texte stockés sur votre appareil lorsque vous visitez un site web. Ils permettent au site web de mémoriser vos préférences et d'améliorer votre expérience utilisateur.</p>

  <h2>Types de cookies que nous utilisons</h2>
  <ul>
    <li>
      <strong>Cookies essentiels :</strong>
      Ces cookies sont nécessaires au bon fonctionnement du site web. Ils permettent des fonctionnalités de base telles que la navigation entre les pages et l'accès aux zones sécurisées du site.</li>
    <li>
      <strong>Cookies de performance :
      </strong> Ces cookies collectent des informations sur la façon dont les visiteurs utilisent notre site web, comme les pages les plus consultées. Cela nous aide à améliorer les performances du site et l'expérience utilisateur.</li>
    <li>
      <strong>Cookies fonctionnels
      </strong> : Ces cookies permettent au site web de mémoriser vos préférences et de proposer des fonctionnalités améliorées, telles que la personnalisation du contenu et des paramètres de langue.</li>
    <li>
      <strong>Cookies publicitaires
      </strong> : Ces cookies sont utilisés pour vous proposer des publicités pertinentes en fonction de vos centres d'intérêt. Ils nous aident également à mesurer l'efficacité de nos campagnes publicitaires.</li>
  </ul>

  <h2>Gestion des cookies</h2>
  <p>Vous pouvez gérer vos préférences en matière de cookies via les paramètres de votre navigateur. La plupart des navigateurs vous permettent de bloquer ou de supprimer les cookies, mais veuillez noter que cela peut affecter les fonctionnalités de notre site web.</p>

  <h2>Nous contacter</h2>
  <p>Pour toute question concernant notre politique en matière de cookies, veuillez nous contacter à l'adresse [vos coordonnées].</p>
</div>
