<app-menu></app-menu>

<div class="calendar-navigation">
  <button class="nav-button" (click)="navigatePrevious()">&#9664; Mois précédent</button>
  <button class="nav-button" (click)="navigateToday()">Aujourd'hui</button>
  <button class="nav-button" (click)="navigateNext()">Mois suivant &#9654;</button>
</div>

<div class="calendar-container">
  <div class="calendar">
    <div class="calendar-header">{{ currentMonthYear1 }}</div>
    <full-calendar #calendar1 class="full-calendar" [options]="calendarOptions1"></full-calendar>
  </div>

  <div class="calendar">
    <div class="calendar-header">{{ currentMonthYear2 }}</div>
    <full-calendar #calendar2 class="full-calendar" [options]="calendarOptions2"></full-calendar>
  </div>
</div>

<app-pop-up
  [isVisible]="isPopUpVisible"
  [title]="popUpTitle"
  [content]="popUpContent"
  [type]="'event'"
  (close)="hidePopUp()">
</app-pop-up>
