<app-menu></app-menu>
<h2> Liste des stagiaires </h2>

<button [routerLink]="['/stagiaire/form']">AJOUTER STAGIAIRE</button>

<table>
  <thead>
  <tr>
    <th>
      NID <br>
      <input type="text" [(ngModel)]="nidFilter" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher par NID" />
    </th>
    <th>
      Civilite <br>
      <select [(ngModel)]="civiliteFilter" (ngModelChange)="updateDisplayedCount()">
        <option value="">Toutes les civilités</option>
        <option value="M">M</option>
        <option value="Mme">Mme</option>
        <option value="Autres">Autres</option>
      </select>
    </th>
    <th>
      Nom <br>
      <input type="text" [(ngModel)]="nomFilter" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher par nom" />
    </th>
    <th>
      Prenom <br>
      <input type="text" [(ngModel)]="prenomFilter" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher par prénom" />
    </th>
    <th>Grade</th>
    <th>ID de l'Unité</th>
    <th>
      Date naissance <br>
      <input type="date" [(ngModel)]="dateNaissanceFilter" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher par date de naissance" />
    </th>
    <th>
      Ville naissance <br>
      <input type="text" [(ngModel)]="villeNaissanceFilter" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher par ville de naissance" />
    </th>
    <th>Nombre de personnes affichées: {{ displayedCount }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let stagiaire of filteredStagiaires">
    <td>{{ stagiaire.numeroIdentifiantDefense }}</td>
    <td>{{ stagiaire.civilite }}</td>
    <td>{{ stagiaire.nom }}</td>
    <td>{{ stagiaire.prenom }}</td>
    <td>{{ stagiaire.dateDeNaissance | date:'dd/MM/yyyy' }}</td>
    <td>{{ stagiaire.villeDeNaissance }}</td>
    <td>
      <button (click)="showDeleteConfirmation(stagiaire)">Supprimer</button>
      <button routerLink="/stagiaire/form/{{ stagiaire.id }}">Modifier</button>
      <button routerLink="/stagiaire/form/{{ stagiaire.id }}">Ajouter un participant</button>
    </td>
  </tr>
  </tbody>
</table>

<app-pop-up
  [isVisible]="isPopUpVisible"
  [title]="popUpTitle"
  [content]="popUpContent"
  [type]="'confirmation'"
  (close)="hidePopUp()"
  (confirm)="confirmDeletion()">
</app-pop-up>

