<h2>Liste des formateurs</h2>

<button [routerLink]="['/formateur/form']">AJOUTER FORMATEUR</button>

<table>
  <thead>
  <tr>
    <th>
      NID <br>
      <input type="text" [(ngModel)]="nidFilter" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher par NID" />
    </th>
    <th>
      Civilite <br>
      <select [(ngModel)]="civiliteFilter" (ngModelChange)="updateDisplayedCount()">
        <option value="">Toutes les civilités</option>
        <option value="M">M</option>
        <option value="Mme">Mme</option>
        <option value="Autres">Autres</option>
      </select>
    </th>
    <th>
      Nom <br>
      <input type="text" [(ngModel)]="nomFilter" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher par nom" />
    </th>
    <th>
      Prenom <br>
      <input type="text" [(ngModel)]="prenomFilter" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher par prénom" />
    </th>
    <th>
      Date naissance <br>
      <input type="date" [(ngModel)]="dateNaissanceFilter" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher par date de naissance" />
    </th>
    <th>
      Ville naissance <br>
      <input type="text" [(ngModel)]="villeNaissanceFilter" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher par ville de naissance" />
    </th>
    <th>Nombre de personnes affichées: {{ displayedCount }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let formateur of filteredFormateurs">
    <td>{{ formateur.NID }}</td>
    <td>{{ formateur.civilite }}</td>
    <td>{{ formateur.nom }}</td>
    <td>{{ formateur.prenom }}</td>
    <td>{{ formateur.dateNaissance | date:'dd/MM/yyyy' }}</td>
    <td>{{ formateur.villeNaissance }}</td>
    <td>
      <button (click)="delete(formateur.id)">Supprimer</button>
      <button routerLink="/formateur/form/{{formateur.id}}">Modifier</button>
      <button routerLink="/stagiaire/form/{{formateur.id}}">Ajouter un participant</button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Footer -->
<footer class="footer">
  <div class="footer-left">
    <img src="https://th.bing.com/th/id/R.2e1eec8cceb7a6abf8865d3e67e5f091?rik=Mr3TpMikRYuQHQ&pid=ImgRaw&r=0" alt="Logo Ministère des Armées" class="footer-img">
    <div class="footer-links">
      <a href="#">FAQ</a>
      <a href="#">Gestion des Cookies</a>
    </div>
  </div>
  <div class="footer-right">
    <p>Ministère des Armées 2025 - 20XX</p>
    <span class="separator">|</span>
    <a href="#">Mentions Légales</a>
  </div>
</footer>
