/*Tableau*/
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: black;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}


h2{
  color: #d50101;
  font-weight: bold;
  text-align: center;
  font-size: 2rem; /* Adjust the size as needed */

}
