<body>
<div class="img-container">
  <img class="background-img" src="assets/images/massage-authentification.jpg">
</div>
<form (ngSubmit)="login()">
    <div class="container">
      <div class="form-box">
        <div class="#">
          <img class= "img-croix"src="assets/images/logo_croix_rouge.png" alt="logo croix rouge">
          <h1>GF(SC)²</h1>
          <img class= "img-brevet"src="assets/images/brevet_secourisme.png" alt="brevet secourisme">
          <div class="input-box">
            <input name="identifiant" id="nid" type="text" [(ngModel)]="username" required>
            <label>NID</label>
            <img src="assets/images/user-3-fill.svg">
          </div>
          <div class="input-box">
            <input name="motDePasse" id="password" type="password" [(ngModel)]="password" required>
            <label>Mot de passe</label>
            <img src="assets/images/bxs-lock.svg">
          </div>
          <div class="forget-section">
            <p>
              <input  type="checkbox" name="" id="">
              Se souvenir de moi
            </p>
            <a href="#">Mot de passe oublié?</a>
          </div>
          <button type="submit" (click)="login()" id="buttonConnexion" class="btn">Connexion</button>
          <button id="buttonPlanning" class="btn">Accès planning</button>
          </div>
        </div>
      </div>
</form>
</body>

