<header>
  <p class="fr-logo">
    Ministère
    <br>
    des Armées
    <br>
    <span class="italic">Liberté Égalité Fraternité</span>
  </p>
  <img src="https://static.wixstatic.com/media/226de2_e65fefc4c55c57e2f4cb1d3b84193a1b.png/v1/fill/w_350,h_363,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/226de2_e65fefc4c55c57e2f4cb1d3b84193a1b.png" alt="logo EMA">
</header>

<router-outlet></router-outlet>


<footer class="footer">
  <div class="footer-left">
    <p class="fr-logo">
      Ministère
      <br>
      des Armées
      <br>
      <span class="italic">Liberté Égalité Fraternité</span>
    </p>
    <div class="footer-links">
      <a href="#">FAQ</a>
      <a routerLink="/cookie">Gestion des Cookies</a>
    </div>
  </div>



  <div class="footer-right">
    <p>Ministère des Armées 2025 - 20XX</p>
    <span class="separator">|</span>
    <a href="#">Mentions Légales</a>
  </div>
</footer>
