.button-group {
  flex-direction: column;
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #f9f9f9;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #002f6c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

button:hover {
  background-color: #002f6c;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

