<app-menu></app-menu>
<h2>Ajouter un stagiaire</h2>

<form>
  <label for="NID">NID</label>
  <input [(ngModel)]="stagiaireForm.NID" id="NID" name="NID" type="text">

  <label for="civilite">civilite</label>
  <select [(ngModel)]="stagiaireForm.civilite" name="civilite" id="civilite">
    <option *ngFor="let civilite of civilite" [value]="civilite">{{ civilite }}</option>
  </select>

  <label for="nom">nom</label>
  <input [(ngModel)]="stagiaireForm.nom" id="nom" name="nom" type="text">

  <label for="prenom">prenom</label>
  <input [(ngModel)]="stagiaireForm.prenom" id="prenom" name="prenom" type="text">


  <label for="dateNaissance">dateNaissance</label>
  <input type="date" [(ngModel)]="stagiaireForm.dateNaissance" id="dateNaissance" name="dateNaissance" placeholder="Date de naissance" />

  <label for="villeNaissance">villeNaissance</label>
  <input [(ngModel)]="stagiaireForm.villeNaissance" id="villeNaissance" name="villeNaissance" type="text">

  <div class="button-group">
    <button (click)="showValidationPopUp()">Valider</button>
    <button (click)="annuler()">Annuler</button>
  </div>

</form>

<app-pop-up
  *ngIf="isValidationPopUpVisible"
  [isVisible]="isValidationPopUpVisible"
  [title]="'Validation de Stagiaires'"
  [content]=popUpContent
  [type]="'confirmation'"
  (confirm)="confirmValidation()"
  (close)="isValidationPopUpVisible = false">
</app-pop-up>
