<app-menu></app-menu>
<h2>Ajouter un stagiaire</h2>

<form>
  <label for="NID">NID</label>
  <input [(ngModel)]="stagiaireForm.NID" id="NID" name="NID" type="text">

  <label for="civilite">civilite</label>
  <select [(ngModel)]="stagiaireForm.civilite" name="civilite" id="civilite">
    <option *ngFor="let civilite of civilite" [value]="civilite">{{ civilite }}</option>
  </select>

  <label for="nom">nom</label>
  <input [(ngModel)]="stagiaireForm.nom" id="nom" name="nom" type="text">

  <label for="prenom">prenom</label>
  <input [(ngModel)]="stagiaireForm.prenom" id="prenom" name="prenom" type="text">


  <label for="dateNaissance">dateNaissance</label>
  <input type="date" [(ngModel)]="stagiaireForm.dateNaissance" id="dateNaissance" name="dateNaissance" placeholder="Date de naissance" />

  <label for="villeNaissance">villeNaissance</label>
  <input [(ngModel)]="stagiaireForm.villeNaissance" id="villeNaissance" name="villeNaissance" type="text">

  <div class="button-group">
    <button (click)="valider()">Valider</button>
    <button (click)="annuler()">Annuler</button>
  </div>

</form>


<!-- Footer -->
<footer class="footer">
  <div class="footer-left">
    <img src="https://th.bing.com/th/id/R.2e1eec8cceb7a6abf8865d3e67e5f091?rik=Mr3TpMikRYuQHQ&pid=ImgRaw&r=0" alt="Logo Ministère des Armées" class="footer-img">
    <div class="footer-links">
      <a href="#">FAQ</a>
      <a href="#">Gestion des Cookies</a>
    </div>
  </div>
  <div class="footer-right">
    <p>Ministère des Armées 2025 - 20XX</p>
    <span class="separator">|</span>
    <a href="#">Mentions Légales</a>
  </div>
</footer>
