
<app-menu></app-menu>
<h2>Liste des formations</h2>

<button [routerLink]="['/formation/form']">NOUVELLE FORMATION</button>
<table>
  <thead>
  <tr>
    <th>Type de diplome <br>
      <select [(ngModel)]="diplomeFilter" (ngModelChange)="updateDisplayedCount()">
        <option value="">Toutes les diplomes</option>
        <option value="PSC1">PSC1</option>
        <option value="SC1">SC1</option>
        <option value="SC2">SC2</option>
      </select>
    </th>
    <th>
      Nom <br>
      <input type="text" [(ngModel)]="search" (ngModelChange)="updateDisplayedCount()" placeholder="Rechercher une formation" />
    </th>
    <th>
      Date debut <br>
      <input type="date" [(ngModel)]="startDate" (ngModelChange)="updateDisplayedCount()" placeholder="Date de début" />
    </th>
    <th>
      Date fin <br>
      <input type="date" [(ngModel)]="endDate" (ngModelChange)="updateDisplayedCount()" placeholder="Date de fin" />
    </th>
    <th>Nombre de formations affichées: {{ displayedCount }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let formation of filteredFormations">
    <td>{{ formation.diplome }}</td>
    <td><button (click)="showDetails(formation)">{{ formation.libelle }}</button></td>
    <td>{{ formation.dateDebut | date:'dd/MM/yyyy' }}</td>
    <td>{{ formation.dateFin | date:'dd/MM/yyyy' }}</td>
    <td>
      <button (click)="showDeleteConfirmation(formation)">Supprimer</button>
      <button [routerLink]="'/formation/form/' + formation.id">Modifier</button>
      <button [routerLink]="['/stagiaire']">Ajouter un participant</button>
      <button [routerLink]="['/formateur']">Ajouter un formateur</button>
    </td>
  </tr>
  </tbody>
</table>

<!--Pop-up suppresion-->
<app-pop-up
  [isVisible]="isPopUpVisible"
  [title]="popUpTitle"
  [content]="popUpContent"
  [type]="'confirmation'"
  (close)="hidePopUp()"
  (confirm)="confirmDeletion()">
</app-pop-up>

<!-- Pop-up pour afficher les détails -->
<app-pop-up
  [isVisible]="isDetailPopUpVisible"
  [title]="'Détails de la formation'"
  [content]="popUpContent"
  (close)="hideDetailPopUp()">
</app-pop-up>

