<app-menu></app-menu>
<h2> Creer une formation</h2>

<form>

  <label for="name">name</label>
  <input [(ngModel)]="formationForm.name" id="name" name="name" type="text">
  <label for="diplome">diplome</label>
  <select [(ngModel)]="formationForm.diplome" name="diplome" id="diplome">
    <option *ngFor="let diplome of diplome" [value]="diplome"> {{diplome}} </option>
  </select>

  <label for="dateDebut">date debut </label>
  <input type="date" [(ngModel)]="formationForm.dateDebut" id="dateDebut" name="dateDebut" placeholder="Date de debut" />

  <label for="dateFin">date fin </label>
  <input type="date" [(ngModel)]="formationForm.dateFin" id="dateFin" name="dateFin" placeholder="Date de fin" />


  <div class="button-group">
    <button (click)="showValidationPopUp()">Valider</button>
    <button (click)="annuler()">Annuler</button>
  </div>

</form>

<app-pop-up
  *ngIf="isValidationPopUpVisible"
  [isVisible]="isValidationPopUpVisible"
  [title]="'Validation de la formation'"
  [content]=popUpContent
  [type]="'confirmation'"
  (confirm)="confirmValidation()"
  (close)="isValidationPopUpVisible = false">
</app-pop-up>

