<app-menu></app-menu>
<h2> Creer une formation</h2>

<form>

  <label for="name">Intitulé</label>
  <input [(ngModel)]="formationForm.libelleFormation" id="name" name="name" type="text">
  <label for="codeCours">Code Cours</label>
  <input [(ngModel)]="formationForm.codeCours" id="codeCours" name="codeCours" type="text">
  <label for="diplome">Diplôme</label>
  <select [(ngModel)]="formationForm.uniteEnseignementId" name="diplome" id="diplome">
    <option *ngFor="let diplome of uniteEnseignements" [value]="diplome.id"> {{diplome.intitule}} </option>
  </select>
  <label for="localisation">Localisation</label>
  <select [(ngModel)]="formationForm.localisationId" name ="localisation" id="localisation">
    <option *ngFor="let localisation of localisations" [value]="localisation.id"> {{localisation.adresse}}, {{localisation.codePostal}} {{localisation.ville}} </option>
  </select>
  <label for="salleCours">Salle de cours</label>
  <input [(ngModel)]="formationForm.salleFormation" id="salleCours" name="salleCours" type="text">
  <label for="dateDebut">Date début</label>
  <input type="date" [(ngModel)]="formationForm.dateDebut" id="dateDebut" name="dateDebut" placeholder="Date de debut" />

  <label for="dateFin">Date fin</label>
  <input type="date" [(ngModel)]="formationForm.dateFin" id="dateFin" name="dateFin" placeholder="Date de fin" />


  <div class="button-group">
    <button (click)="showValidationPopUp()">Valider</button>
    <button (click)="annuler()">Annuler</button>
  </div>

</form>

<app-pop-up
  *ngIf="isValidationPopUpVisible"
  [isVisible]="isValidationPopUpVisible"
  [title]="'Validation de la formation'"
  [content]=popUpContent
  [type]="'confirmation'"
  (confirm)="confirmValidation()"
  (close)="isValidationPopUpVisible = false">
</app-pop-up>

