<app-menu></app-menu>
<h2> Creer une formation</h2>

<form>

  <label for="name">name</label>
  <input [(ngModel)]="formationForm.name" id="name" name="name" type="text">
  <label for="diplome">diplome</label>
  <select [(ngModel)]="formationForm.diplome" name="diplome" id="diplome">
    <option *ngFor="let diplome of diplome" [value]="diplome"> {{diplome}} </option>
  </select>

  <label for="dateDebut">date debut </label>
  <input type="date" [(ngModel)]="formationForm.dateDebut" id="dateDebut" name="dateDebut" placeholder="Date de debut" />

  <label for="dateFin">date fin </label>
  <input type="date" [(ngModel)]="formationForm.dateFin" id="dateFin" name="dateFin" placeholder="Date de fin" />


  <div class="button-group">
    <button (click)="valider()">Valider</button>
    <button (click)="annuler()">Annuler</button>
  </div>

</form>




<!-- Footer -->
<footer class="footer">
  <div class="footer-left">
    <img src="https://th.bing.com/th/id/R.2e1eec8cceb7a6abf8865d3e67e5f091?rik=Mr3TpMikRYuQHQ&pid=ImgRaw&r=0" alt="Logo Ministère des Armées" class="footer-img">
    <div class="footer-links">
      <a href="#">FAQ</a>
      <a href="#">Gestion des Cookies</a>
    </div>
  </div>
  <div class="footer-right">
    <p>Ministère des Armées 2025 - 20XX</p>
    <span class="separator">|</span>
    <a href="#">Mentions Légales</a>
  </div>
</footer>
